modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_CLOUDINARY_UPLOAD_PRESET = "MAGe4GOu+qUO4h4OTNwDTyC+KRf5vPAzKaFVykguiH2oXB4r9Esw9UEvwtZ7TDiowAnTITQGDXrr3HvSO6xYIg=="
VAPID_PUBLIC_KEY = "BENjY6mR0RhebZ3pCSZg8Z_6oxmuxWYdEOUo_lkya0oRE5LMi6jgAsmbaDzhUVpB1g8iBALaSR519SFj063_Byc"

[userenv.production]
VITE_PUBLIC_SITE_URL = "https://hkmastershockey.com"

[userenv.development]

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 20336
externalPort = 80

[[ports]]
localPort = 22203
externalPort = 3001

[[ports]]
localPort = 26214
externalPort = 3000
