modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "HK Masters Web"

[[workflows.workflow]]
name = "HK Masters Web"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/hk-masters-web && npm run dev"
waitForPort = 3000

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_CLOUDINARY_UPLOAD_PRESET = "MAGe4GOu+qUO4h4OTNwDTyC+KRf5vPAzKaFVykguiH2oXB4r9Esw9UEvwtZ7TDiowAnTITQGDXrr3HvSO6xYIg=="
